@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 100% 97%;
    --foreground: 219 14% 15%;
    --card: 0 0% 100%;
    --card-foreground: 219 14% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 219 14% 15%;
    --primary: 193 100% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 100% 32%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 77% 92%;
    --muted-foreground: 215 18% 32%;
    --accent: 190 100% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 80% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 30% 88%;
    --input: 210 100% 98%;
    --ring: 193 100% 39%;
    --chart-1: 188 100% 35%;
    --chart-2: 204 100% 89%;
    --chart-3: 218 95% 63%;
    --chart-4: 186 88% 70%;
    --chart-5: 196 100% 64%;
    --radius: 0.75rem;
    --sidebar-background: 214 100% 97%;
    --sidebar-foreground: 219 14% 15%;
    --sidebar-primary: 193 100% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 191 75% 93%;
    --sidebar-accent-foreground: 215 18% 32%;
    --sidebar-border: 210 30% 88%;
    --sidebar-ring: 195 100% 70%;
  }

  .dark {
    --background: 222 14% 12%;
    --foreground: 0 0% 100%;
    --card: 222 14% 18%;
    --card-foreground: 0 0% 100%;
    --popover: 222 14% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 193 100% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 100% 32%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 14% 24%;
    --muted-foreground: 0 0% 100%;
    --accent: 193 100% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 80% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 222 14% 24%;
    --input: 222 14% 18%;
    --ring: 193 100% 39%;
    --chart-1: 188 100% 35%;
    --chart-2: 204 100% 89%;
    --chart-3: 218 95% 63%;
    --chart-4: 186 88% 70%;
    --chart-5: 196 100% 64%;
    --sidebar-background: 222 14% 18%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 193 100% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 191 75% 93%;
    --sidebar-accent-foreground: 215 18% 32%;
    --sidebar-border: 222 14% 24%;
    --sidebar-ring: 195 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', system-ui, sans-serif;
    min-height: 100vh;
  }

  body, input, button, textarea, select {
    font-family: 'Inter', system-ui, sans-serif;
  }
}
